<a href="https://colab.research.google.com/github/murni27/Bank-loan-repayment-prediction/blob/main/Loan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pandas is used for data manipulation
import pandas as pd
# Use numpy to convert to arrays
import numpy as np
# Read in data and display first 5 rows
dataset = pd.read_csv('/content/drive/MyDrive/home_credit/new_dataset.csv')

In [ ]:
dataset = dataset.fillna(0)
dataset

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
4,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,172107,1,Cash loans,F,N,N,0,225000.0,508495.5,26091.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
9996,172112,1,Cash loans,F,N,Y,0,112500.0,540000.0,39424.5,...,0,0,0,0,0.0,0.0,1.0,1.0,0.0,0.0
9997,172118,1,Cash loans,M,N,Y,0,135000.0,585000.0,29997.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9998,172135,1,Cash loans,M,Y,N,1,405000.0,640080.0,29970.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
9999,172145,1,Cash loans,F,N,N,0,112500.0,523597.5,26865.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0

In [ ]:
# X_train = X_train.drop(['ORGANIZATION_TYPE'], axis=1)
# X_test = X_test.drop(['ORGANIZATION_TYPE'], axis=1)

#dataset = dataset.drop(['SK_ID_CURR'], axis=1)

In [ ]:
# One-hot encode the data using pandas get_dummies
dataset = pd.get_dummies(dataset)
dataset

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_0,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0,0,0,0,0,0,0,1,0,0
1,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0,0,0,0,0,0,0,1,0,0
2,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0,0,0,0,0,0,0,1,0,0
3,100008,0,0,99000.0,490495.5,27517.5,454500.0,0.035792,-16941,-1588,...,0,0,0,0,0,0,0,1,0,0
4,100009,0,1,171000.0,1560726.0,41301.0,1395000.0,0.035792,-13778,-3130,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,172107,1,0,225000.0,508495.5,26091.0,454500.0,0.005002,-18744,365243,...,0,0,0,0,0,0,0,1,0,0
9996,172112,1,0,112500.0,540000.0,39424.5,540000.0,0.026392,-13317,-3801,...,0,0,0,0,1,0,0,0,1,0
9997,172118,1,0,135000.0,585000.0,29997.0,585000.0,0.008474,-19016,-2982,...,0,0,0,0,0,0,0,1,0,0
9998,172135,1,1,405000.0,640080.0,29970.0,450000.0,0.020713,-14223,-4582,...,0,0,0,0,0,0,0,1,0,0
9999,172145,1,0,112500.0,523597.5,26865.0,468000.0,0.018029,-10229,-1046,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
# from collections import Counter

from sklearn.model_selection import train_test_split

#Split dataset into train and test
data_train, data_test = train_test_split(dataset, test_size = 0.2)

In [ ]:
y_train = data_train.pop('TARGET')
X_train = data_train

y_test = data_test.pop('TARGET')
X_test = data_test

In [ ]:
#X_test.columns.to_list()

In [ ]:
# importing random forest classifier from assemble module
from sklearn.ensemble import RandomForestClassifier

# creating a RF classifier
clf = RandomForestClassifier(n_estimators = 100)

# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(X_train, y_train)

# performing predictions on the test dataset
y_pred = clf.predict(X_test)

# metrics are used to find accuracy or error
from sklearn import metrics
print()

# using metrics module for accuracy calculation
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.955

In [ ]:
feature_imp = pd.Series(clf.feature_importances_, index = X_train.columns).sort_values(ascending = False)
feature_imp

SK_ID_CURR                         0.455897
EXT_SOURCE_3                       0.038580
EXT_SOURCE_2                       0.033470
DAYS_BIRTH                         0.018969
EXT_SOURCE_1                       0.016218
                                     ...
FLAG_MOBIL                         0.000000
FLAG_DOCUMENT_10                   0.000000
FLAG_DOCUMENT_4                    0.000000
ORGANIZATION_TYPE_Trade: type 4    0.000000
FLAG_DOCUMENT_7                    0.000000
Length: 246, dtype: float64